body{
    width: 100%;
    margin: 0px;
}
.main{ 
    width: 100%; 
    min-width: 330px;
    max-width: 1800px;
}
header{
    width: 100%;
    height: 80px;
    background-color: #4d148c;
    position: fixed;
    z-index: 100;
}
.logo{
    float: left;
    display: inline-block;
    width: 25%;
    height: 100%;
}
.logo>img{
    width: 100px;
    height: 25px ;
   margin-left: 180px;
   margin-top: 27px;
 
}
.sidebar{
    display: none;
}
nav{
    display: inline-block;
    width: 74%;
   height: 90%; 
}
nav li{
    display: inline-block;
    margin-right: 20px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.sign-up{
    margin-left: 100px;
    font-size: 18px;
    color: white;
}

section{
    width: 100%;
    height: 700px;
}
.bg-img{
    background-image: url(./image/mainBanner2.jpg);
    width: 100%;
    height: 480px;
    display: inline-block;
    min-width: 330px;
    max-width: 1800px;
}
.box{
    width: 40%;
    height: 300px;
    margin: 80px auto;
}
.box>p{
    text-align: center;
    color: white;
    font-size: 43px;
    font-weight: 15;
}
.bannercontant{
    width: 430px;
    height: 150px;
    margin: 0% auto;
}
.box-1{
    float: none;
    text-align: center;
    color: black;
    display: inline-block;
    width: 140px ;
    height: 100px;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}
.box1{
    float: left;
}
.box2{
    background-color: #4d148c;
    line-height: 25px;
    color: white;
    border: 5px solid #4d148c;
}
.box2>img{
    color: white;
}
.box3{
    float: right; 
 }
 .box3>img{
    margin-top: 15px ;
 }

.tracking-id{
    margin-top: 30px;
    height: 130px;
}
.tracking-id input{
    padding: 20px;
}
.btn-track{
    background-color: rgb(63, 0, 99);
    width: 150px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}
.btn-track:hover{
    background-color: #8400c2;
    width: 150px;
    transition:  0.4s;   
}
.para{
    color: white;
    font-weight: bold;
    
}
.para>a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
.para>a:hover{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}
.main-contant{
    width: 100%;
    height: 100%;

}
.note{
    width: 100%;
    height: 55px;
    color: black;
    text-align: center; 
    line-height: 30px;
    font-size: 18px;
}
.saving{ 
    width: 100%;
    height: 350px;

}
.saving1{
    background-image: url(./image/secondBanner.jpg);
    width: 70%;
    height: 250px;
    margin: 45px 14%;
    display: inline-block;
}
.savingpara{
    width: 40%;
    height:200px ;
    font-size: 20px;
    float: left;
    margin-left: 10%;
    margin-bottom: 50%;
    font-family: 'Courier New', Courier, monospace;
}
.small-business{
    font-weight: 500;
    font-size: 31px;
    font-family: Tahoma;
}
.saving-btn{
    border: 2px solid #dc7ff38f;
    color: #4600b7;
    font-weight: bold;
    padding: 15px;
    width: 160px;
    border-radius :30px; ;
}
.saving-btn:hover{
    color: white;
    background-color: #4a028d;
}
.shipments{
    height: 60px;
    color: black;
    text-align: center;
    font-size: 40px; 
    font-weight:medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.services{ 
    width: 70%;
    height: 150px;
    margin: 15px auto;
}
.icon-dropoff{
    width: 12%;
    height: 145px;
    display: inline-block;
    margin-left: 7%;
}
.dropoff>img{
    width: 50px;
    height: 50px;
    margin-bottom: 35px;
}
.icon-redirect{
    display: inline-block;
    width: 12%;
    height: 145px;
    margin-left:7%;
}
.redirect{
    margin-bottom: 5px;
}
.icon-store{
    display: inline-block;
    width: 12%;
    height: 145px;
    margin-left: 7%;
}
.store{
    margin-left: 10px;
}
.icon-alert{
    display: inline-block;
    width: 12%;
    height: 145px;
    margin-left: 7%;
}
.alert{
    margin-bottom: 15px;
    margin-left: 20%;
}
.icon-return{
    display: inline-block;
    width: 12%;
    height: 145px;
    margin-left:7%; 
}
.return{
    margin-bottom: 13px;
}
.services img{
    width: 70px;
    height: 70px;
}
.services a{
   font-size: small;
    color: #1b00b7;
    word-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}
.services a:hover{
    text-decoration: underline;
}
.trophy{
    width: 70%;
    height: 350px;
    background-color: rgba(240, 248, 255, 0.733);
    margin: 5px 15%;
}
.trophy>img{
    width: 50%;
    height: 350px;
    float: right;
}
.logo-2{
    width: 100px;
    height: 50px;
    margin: 0px 40px;
}
.Trophy3D-3{
    font-size: 25px;
}
.trophy>p{
font-size: 20px;
word-spacing: 5px;
margin-left: 40px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.trophy>a{
    font-size: 15px;
    color: #1b00b7;
    word-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 40px;
}
.trophy>a:hover{
    text-decoration: underline;
}
.img-content{
    width: 70%;
    height: 550px;
    margin: 40px 15%; 
}
.img-content>img{
    width: 48%;
    float: left;
    margin: 0% 1%;
}
.Grants-para{
    width: 48%;
    margin-left: 1%;
    float: left;
}
.skateboarder-para{
    width: 48%;
    float: right;
    margin-top: 10px;
}
.img-content p{
    font-size: 20px;
    word-spacing: 3px;
}
.para-heading{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
sup{
    font-size: small;
}
.img-content a{
    font-size: small;
    color: #1b00b7;
    word-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.img-content a:hover{
    text-decoration: underline;
}
.valentines-gift{
    width: 70%;
    height: 530px;
    margin: 10px 15%;
}
.gift-heading{
    width: 100%;
    height: 50px;
    text-align: center; 
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(158, 156, 156);
}
.speed-gift{
    width: 100%;
    height: 180px;
    margin-top: 30px;
}
.speed-para{
    width: 70%;
    float: right;
    height: 180px;
}
/* .speed-gift>img{
    height: 80px;
} */
.speed-para>p{
    font-size: 20px;
    word-spacing: 3px;
    margin-left: 20px;
}
.speed-para-heading{
    font-size:30px;
    color: rgb(84, 79, 79);
}
.speed-para a{
    font-size: small;
    color: #1b00b7;
    word-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px;
}
.speed-para a:hover{
    text-decoration: underline;
}
.taxes-gift{
    width: 100%;
    height: 180px;
    margin-top: 50px;
}
.taxes-gift>img{
    float: right;
}
.taxes-para{
    width: 70%;
    height: 180px;
}
.taxes-para p{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    word-spacing: 3px;
}
.taxes-para a{
    color: #1b00b7;
    font-size: small;
    word-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

}
.taxes-para a:hover{
    text-decoration: underline;
}
.Send-and-receive-shipments{
    width: 70%;
    height: 460px;
    margin: 15px 15%;
}
.ship-receive-para{
    width: 100%;
    height: 50px;
    text-align: center; 
    font-size: 40px;
    color: rgb(138, 138, 138);  
}
.convenience-icon-left{
    float: left;
    width: 50%;
    height: 400px;
}
.convenience-icon{
    width: 100%;
    height: 150px ;
    margin-top: 8px;
}
.convenience-icon>img{
    width: 30%;
    margin: 10px 33%;
}
.convenience-icon-para{  
    width:95% ;
    height:250px ;
    font-size: 17px;
    margin-right: 10px;
}
.convenience-para-heading{
    font-size:30px ;
    color: rgb(138, 138, 138);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.convenience-icon-para button{
    border: 2px solid #780188;
    color: #8300b7;
    font-weight: bold;
    padding: 13px;
    text-transform: uppercase;
    width: 40%;
    border-radius: 30px; 
    margin-left: 35%; 
}
.convenience-icon-para button:hover{
    color: white;
    background: #6f00fffb;
}
.package-icon-right{
    width: 50%;
    height: 400px;
    float: right;
    margin-top: 0px;
}
.package-icon-2{
    width: 100%;
    height: 150px ;
    margin-top: 10px;
 
}
.package-icon-2>img{
    width: 25%;
    margin: 20px 37.5%;
}
.package-para-heading{
    font-size:30px ;
    color: rgb(138, 138, 138);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.packages-icon-2-para{
    width:100% ;
    height:200px ;
    font-size: 17px;
}

.packages-icon-2-para button{
    border: 2px solid #8c00b7;
    color: #7d00b7;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    width: 45%;
    border-radius: 30px; 
    margin-left: 35%; 
    margin-top: 18px;
}
.packages-icon-2-para button:hover{
    color: white;
    background: #4d0194e0;
}
.nonprofits{
    width: 70%;
    height: 450px;
    margin: 35px 15%;
}
.bg-img-body{
    background-image: url(./image/bannerBeforeFooter.jpg );
    background-size: 100%;
    width: 100%;
    height: 450px;
}
.nonprofits-para{
    float: right;
    width: 40%;
    height: 400px ;
    margin-top: 25px ;
    margin-right: 25px;
   background-color: rgba(255, 255, 255, 0.75);
}
.non-profits-para-align{
    width: 70% ;
    height:300px ;
    margin:50px 15% ;
    font-size: 20px;
    word-spacing: 2px;
    color: rgb(150, 150, 150); 
}
.non-profits-para-gap{
    font-size:25px ;
    color: rgb(82, 55, 55);
}
.non-profits-para-align button{
    border: 2px solid #9200b7;
    color: #7400b7;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    width : 70%;
    border-radius: 30px;
    margin-left: 15%;
}
.non-profits-para-align button:hover{
    color: white;
    background: #460096;
}
.customers-feedback{
    width: 70%;
    height: 450px;
    margin: 25px 15%;
}
.feedback-para{
    width: 100%;
    height: 50px;
    color: rgb(145, 145, 145);
    font-size: 40px;
    text-align: center;
}
.packaging{
   width: 100%;
   height:165px ;
   margin-top:25px ;
}
.packaging-para{
    width: 73%;
    height: 100%;
    float: right;
    font-size: 20px;
}
.packaging-para-heading{
    font-size:30px ;
    color: rgb(84, 79, 79);
}
.packaging-para a{
    font-size: small;
    color: #0012b7;
    word-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;   
}
.packaging-para a:hover{
    text-decoration: underline;
}
.busy-spring{
    width: 100%;
    height: 160px;
    margin-top: 25px;
}
.busy-spring-para{
    width: 73%;
    height: 160px;
    float: right;
    font-size: 18px;
}
.busy-para-heading{
    font-size:30px ;
    color: rgb(84, 79, 79);
}
.busy-spring-para a{
    font-size: small;
    color: #002bb7;
    word-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; 
}
.busy-spring-para a:hover{
    text-decoration: underline;
}
.money-back{
    width: 70%;
    height: 150px;
    margin: 30px 15%;
    font-size: 20px;
}
.money-back-para-heading{
    font-weight: bold;
    font-size: 20px ;
    color: rgb(84, 79, 79);
}
.about-your-company{
    display: inline-block;
    width: 100%;
    height: 450px;
    background-color: rgba(243, 240, 240, 0.75); ;
}
.about-your-company hr{
    width: 75% ;
}
.company-information{
    width: 80%;
    height: 220px;
    margin: 25px 10%;
}
.our-company{
 display: inline-block;
    width: 30%;
    height: 150px;
    margin-top: 35px ;
    margin-left: 10px;
}
.our-company-para{
    float: left;
   width:50% ;
   height: 150px;
}
.our-company li{
    list-style-type: none;
    padding: 2px;
    margin: 0% auto;
}
.our-company-para>p{
    width: 100%;
    color: #8602a1;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 38px;
}
.our-company-para a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin: 2px auto;
}
.our-company-para a:hover{
     text-decoration: underline;
}
.our-company-para-2{
    display: inline-block;
    float: right;
    width: 45%;
    height: 150px;
    margin-top: 35px ;
}
.our-company-para-2 a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin: 2px auto;
}
.our-company-para-2 a:hover{
    text-decoration: underline;
}
.about-more-company{
    float: left;
    width: 30%;
    height: 150px;
    
    margin-top: 0px;
}
.about-more-company>p{
    width: 100%;
    color: #8602a1;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 38px;
}
.about-more-company li{
    list-style-type: none;
    padding: 2px;
    margin: 0% auto;
}
.about-more-company a{
    color: black;
    font-size: 15px;
    text-decoration: none;
}
.about-more-company a:hover{
    text-decoration: underline;
}
.company-half{
    float: right;
    width: 50%;
    height: 150px;
    margin: 35px 5%;
}
.Country{
    display: inline-block;
    float: right;
    width: 40%;
    height: 150px;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 15px;
}
.Country>p{
    color: #8602a1;
    font-weight: bold;
}
.Country select{
    width: 90%;
    height: 50px;
    margin-top: 5px ;
   border:  1px solid #fafafa;
}
.follow-fedex{
    width: 30%;
    height: 130px;
    margin-left: 13%;
}
.follow-fedex>p{
    display: inline-block;
    font-size: small;
    width: 30%;
    color: #4d148c;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
}
.follow-fedex-icon{
    float: right;
    width:60% ;
    height: 40px ;
    margin-top: 42px;
    margin-right: 15px;
}
.follow-fedex img{
    padding: 2px;
}
footer{
    display: inline-block;
    width: 100%;
    height: 70px;
    background-color: #4d148c;
}
.footer-para{
    float: left;
    width: 20%;
    height: 30px;
    margin-top: 25px ;
    margin-left: 15%;
}
.footer-para>p{ 
    color: white;
    margin-top: 0px;
    margin-left: 0px;
    font-size: small;
}
.footer-site{
    color: white;
    float: right;
    width: 30%;
    height:30px ;
    margin-top: 25px;
    margin-right: 5%;
}
.footer-site a{
    color: white;
    font-size: small;
    text-decoration:none ;
    padding: 18px;
}
.footer-site a:hover{
    text-decoration: underline;
}

/* media screen for mobile responsive */



@media only screen and (min-width:320px) and (max-width:640px){
    body{
        width: 100%;
        margin: 0px;
        min-width: 640px;
        max-width: 320px;
        overflow-x: hidden;
    }
    .main{ 
        width: 100%; 
    }
    header{
        width: 100%;
        height: 80px;
        background-color: #4d148c;
        /* position: fixed;
        z-index: 100; */
    }
    .logo{
        float: left;
        display: inline-block;
        width: 25%;
        height: 100%;
    }
    .logo>img{
        width: 90px;
        height: 40px ;
        margin-left: 50px;
       margin-top: 15px;
    }
    nav{
        display: none;
        width: 50%;
       height: 100%;
    }
    /* .sidebar{
        display: inline-block !important;
    } */
    section{
        width: 480px;
        height: 500px;
    }
    .bg-img{
        background-image: url(./image/mainBanner2.jpg);
        width: 100%;
        height: 250px;
        display: inline-block;
    }
    .box{
        width: 40%;
        height: 120px;
        margin: 85px auto;
    }
    .box>p{
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: 10;
    }
    .bannercontant{
        width: 90%;
        height: 70px;
        margin: 0% auto;
    }
    .box-1{
        float: none;
        text-align: center;
        color: black;
        display: inline-block;
        width: 30%;
        height: 70px;
        background-color: white;
        font-size: 7px;
        font-weight: bold;
        line-height: 5px;
    }
    .box1{
        float: left;
    }
    .box2{
        background-color: #4d148c;
        line-height: 25px;
        color: white;
        border: 5px solid #4d148c;
    }
    .box2>img{
        width: 40px !important;
        margin-top: 10px; 
        width: 20px;
    }
    .box3{
        float: right; 
        margin-right: 12px;
     }
     .box3>img{
        width: 30px !important;
        margin-top: 15px ;
     }
    
    .tracking-id{
        margin-top: 15px;
        height: 50px;
        min-width: 250px;
        max-width: 455px;
    }
    .tracking{
        width: 45%; 
    }
    .tracking-id input{
        padding: 5px;
    }
    .btn-track{
        background-color: rgb(63, 0, 99);
        width: 25%;
        font-weight: 100;
        color: white;
        font-size: 10px
    }
    .btn-track:hover{
        background-color: #8400c2;
        width: 50px;
        transition:  0.4s;   
    }
    .para{
        display: none;
        width: 30%;
        color: white;
        margin-top: 5px;
        
    }
    .para>a{
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
    .para>a:hover{
        color: white;
        font-weight: bolder;
        text-decoration: underline;
    }
    .main-contant{
        width: 100%;
        height: 100%;
    
    }
    .note{
        width: 100%;
        height: 35px;
        color: black;
        text-align: center;
        line-height: 10px;
        font-size: 12px;
    }
    .saving{ 
        width: 100%;
        height: 150px;
    
    }
    .saving1{
        background-image: url(./image/secondBanner.jpg);
        width: 80%;
        height: 120px;
        margin: 4px 14%;
        display: inline-block;
    }
    .savingpara{
        width: 39%;
        height: 80px ;
        font-size: 8px;
        float: left;
        margin-left: 5%;
        margin-bottom: 50%;
        font-family: 'Courier New', Courier, monospace;
    }
    .small-business{
        font-weight: 500;
        font-size: 11px;
        font-family: Tahoma;
    }
    .saving-btn{
        border: 2px solid #dc7ff38f;
        color: #4600b7;
        font-weight: bold;
        padding: 3px;
        width: 80px;
        border-radius: 20px;
        font-size: 9px;;
    }
    .saving-btn:hover{
        color: white;
        background-color: #4a028d;
    }
    .gap{
        width: 100%;
        height: 300px;
    }
    .shipments{
        height: 60px;
        color: black;
        text-align: center;
        font-size: 20px; 
        font-weight:medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .services{ 
        width: 70%;
        height: 90px;
        margin: 0px auto;
    }
    .icon-dropoff{
        width: 12%;
        height: 60px;
        display: inline-block;
        margin-left: 5%;
    }
    .dropoff>img{
        margin-bottom: 5px;
    }
    .icon-redirect{
        display: inline-block;
        width: 12%;
        height: 60px;
        margin-left: 5%;
    }
    /* .redirect{
        margin-bottom: 5px;
    } */
    .icon-store{
        display: inline-block;
        width: 12%;
        height: 60px;
       margin-left: 5%;
    }
    .store{
        margin-left: 5px;
        margin-bottom: 3px !important;
    }
    .icon-alert{
        display: inline-block;
        width: 12%;
        height: 60px;
        margin-left: 5%;
    }
    .alert{
        margin-left: 5px;
        margin-bottom: 2px !important;
    }
    .icon-return{
        display: inline-block;
        width: 12%;
        height: 60px;
        margin-left: 5%; 
    }
    .return{
        margin-left: 5px;
        margin-bottom: 2px;
    }
    .services img{
        width: 20px;
        height: 20px;
    }
    .services a{
        color: #0300b7;
        text-align: center;
        display: inline-block;
        width: 70% !important;
        height: 30px !important;
        font-size: 6px !important;
        word-spacing: 0px !important;
        font-weight: 300 !important;
    }
    .services a:hover{
        text-decoration: underline;
    }
    .trophy{
        width: 70%;
        height: 150px;;
        margin: 5px 15%;
        background-color: rgba(240, 248, 255, 0.733);
    }
    .trophy>img{
        width: 50%;
        height: 150px;
        float: right;
    }
    .logo-2{
        width: 50px;
        height: 25px;
        margin: 0px 30px;
    }
    .logo-2>img{
        width: 60px;
        height: 25px; 
        margin-left: 0px;
    }
    .Trophy3D-3{
        font-size: 10px;
    }
    .trophy>p{
        font-size: 8px;
        word-spacing: 2px;
        margin-left: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .trophy>a{
        font-size: 10px;
        color: #1b00b7;
        word-spacing: 1px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 30px;
    }
    .trophy>a:hover{
        text-decoration: underline;
    }
    .img-content{
        width: 70%;
        height: 200px;
        margin: 40px 15%; 
    }
    .img-content>img{
        width: 48%;
        float: left;
        margin: 0% 1%;
    }
    .Grants-para{
        width: 48%;
        margin-left: 1%;
        float: left;
    }
    .skateboarder-para{
        width: 48%;
        float: right;
        margin-top: 10px;
    }
    .img-content p{
        font-size: 10px;
        word-spacing: 1px;
    }
    .para-heading{
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    sup{
        font-size: xx-small;
    }
    .img-content a{
        font-size: 10px;
        color: #1b00b7;
        word-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
    }
    .img-content a:hover{
        text-decoration: underline;
    }
    .valentines-gift{
        width: 70%;
        height: 150px;
        margin: 100px 15% !important;
    }
    .gift-heading{
        width: 100%;
        height: 20px;
        text-align: center; 
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(158, 156, 156);
    }
    .speed-gift{
        width: 100%;
        height: 80px;
        margin-top: 10px;
    }
    .speed-gift>img{
        height: 80px;
    }
    .speed-para{
        width: 70%;
        float: right;
        height: 80px;
        margin-top: 0px;
    }
    .speed-para>p{
        font-size: 10px;
        word-spacing: 3px;
        margin-left: 9px;
    }
    .speed-para-heading{
        font-size:10px ;
        color: rgb(84, 79, 79);
    }
    .speed-para a{
        font-size: 5px;
        color: #1b00b7;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 8px;
    }
    .speed-para a:hover{
        text-decoration: underline;
    }
    .taxes-gift{
        width: 100%;
        height: 80px;
        margin-top: 50px;
    }
    .taxes-gift>img{
        float: right;
        height: 80px;
    }
    .taxes-para{
        width: 70%;
        height: 80px;
    }
    .taxes-para p{
        margin-top: 10px;
        margin-right: 20px;
        font-size: 10px;
        word-spacing: 1px;
    }
    .taxes-para a{
        font-size: 5px;
        color: #1b00b7;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
    }
    .taxes-para a:hover{
        text-decoration: underline;
    }
    .Send-and-receive-shipments{
        width: 70%;
        height: 260px !important;
        margin: 10px 15%;
    }
    .ship-receive-para{
        display: none;
    }
    .convenience-icon-left{
        float: left;
        width: 50%;
        height: 200px;
        margin-top: 80px;
    }
    .convenience-icon{
        width: 100%;
        height: 60px ;
        margin-top: 8px;
    }
    .convenience-icon>img{
        width: 30%;
        margin: 10px 33%;
    }
    .convenience-icon-para{  
        width:95% ;
        height:90px ;
        font-size: 7px;
        margin-right: 10px;
    }
    .convenience-para-heading{
        font-size:10px ;
        color: rgb(138, 138, 138);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .convenience-icon-para button{
        border: 2px solid #780188;
        color: #8300b7;
        font-weight: 100;
        padding: 2px;
        font-size: 8px;
        text-transform: uppercase;
        width: 60%;
        height: 20px;
        border-radius: 20px; 
        margin-left: 20%; 
    }
    .convenience-icon-para button:hover{
        color: white;
        background: #ae00fffb;
    }
    .package-icon-right{
        width: 50%;
        height: 200px;
        float: right;
        margin-top: 75px;
    }
    .package-icon-2{
        width: 100%;
        height: 60px ;
        margin-top: 10px;
     
    }
    .package-icon-2>img{
        width: 25%;
        margin: 10px 33%;
    }
    .package-para-heading{
        font-size:10px ;
        color: rgb(138, 138, 138);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .packages-icon-2-para{
        width:100% ;
        height:200px ;
        font-size: 7px;
    }
    
    .packages-icon-2-para button{
        border: 2px solid #780188;
        color: #8300b7;
        font-weight: 200;
        padding: 2px;
        font-size: 8px;
        text-transform: uppercase;
        width: 70%;
        height: 20px;
        border-radius: 20px; 
        margin-left: 30%; 
        margin-top: 8px;
    }
    .packages-icon-2-para button:hover{
        color: white;
        background: #ae00fffb;
    }
    .nonprofits{
        width: 70%;
        height: 170px;
        margin: 50px 15% !important;
    }
    .bg-img-body{
        background-image: url(./image/bannerBeforeFooter.jpg );
        background-size: 100%;
        width: 100%;
        height: 170px;
    }
    .nonprofits-para{
        float: right;
        width: 40%;
        height: 120px ;
        margin: 25px 25px;
       background-color: rgba(231, 229, 229, 0.75);
    }
    .non-profits-para-align{
        width: 70% ;
        height:60px ;
        margin:0px 15% ;
        font-size: 7px;
        color: rgb(150, 150, 150); 
    }
    .non-profits-para-gap{
        font-size:10px ;
        color: rgb(82, 55, 55);
    }
    .non-profits-para-align button{
        border: 2px solid #9200b7;
        color: #7400b7;
        font-weight: 600;
        font-size: 5px;
        padding: 4px;
        text-transform: uppercase;
        width: 80%;
        border-radius: 20px;
        margin-left: 15%;
    }
    .non-profits-para-align button:hover{
        color: white;
        background: #460096;
    }
    .customers-feedback{
        width: 70%;
        height: 250px;
        margin: 25px 15%;
    }
    .feedback-para{
        width: 100%;
        height: 30px;
        font-size: 15px;
        text-align: center;
        color: rgb(145, 145, 145);
    }
    .packaging{
        width: 100%;
        height: 85px ;
        margin-top: 25px ;
    }
    .packaging>img{
        height: 85px;
    }
    .packaging-para{
        width: 73%;
        height: 100%;
        float: right;
        font-size: 8px;
    }
    .packaging-para-heading{
        font-size:10px ;
        color: rgb(84, 79, 79);
    }
    .packaging-para a{
        font-size: 5px;
        color: #1b00b7;
        word-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;  
    }
    .packaging-para a:hover{
        text-decoration: underline;
    }
    .busy-spring{
        width: 100%;
        height: 85px;
        margin-top: 25px;
    }
    .busy-spring>img{
        height: 85px;
    }
    .busy-spring-para{
        width: 73%;
        height: 80px;
        float: right;
        font-size: 8px;
    }
    .busy-para-heading{
        font-size:10px ;
        color: rgb(84, 79, 79);
    }
    .busy-spring-para a{
        font-size: 5px;
        color: #1b00b7;
        word-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none; 
    }
    .busy-spring-para a:hover{
        text-decoration: underline;
    }
    .money-back{
        width: 70%;
        height: 70px;
        margin: 10px 15%;
        font-size: 9px;
    }
    .money-back-para-heading{
        font-weight: bold;
        font-size: 15px ;
        color: rgb(84, 79, 79);
    }
    .about-your-company{
        display: inline-block;
        width: 100%;
        height: 250px;
        background-color: rgba(243, 240, 240, 0.75); ;
    }
    .about-your-company hr{
        width: 75% ;
    }
    .company-information{
        width: 80%;
        height: 200px;
        margin: 25px 10%;
    }
    .our-company{
        display: inline-block;
        width: 30%;
        height: 120px;
        margin-top: 35px ;
        margin-left: 5px;
    }
    .our-company-para{
        float: left;
        width:50% ;
        height: 150px;
    }
    .our-company-para ul{
        padding: 0px;
    }
    .our-company li{
        list-style-type: none;
        padding: 2px;
        margin: 0% auto;
    }
    .our-company-para>p{
        width: 100%;
        color: #8602a1;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 7px;
    }
    .our-company-para a{
        color: black;
        text-decoration: none;
        font-size: 7px;
    }
    .our-company-para a:hover{
         text-decoration: underline;
    }
    .our-company-para-2 ul{
        padding: 0px;
    }
    .our-company-para-2{
        display: inline-block;
        float: right;
        width: 45%;
        height: 150px;
        margin-top: 20px;
    }
    .our-company-para-2 a{
        color: black;
        text-decoration: none;
        font-size: 7px;
        margin: 0px auto;
    }
    .our-company-para-2 a:hover{
        text-decoration: underline;
    }
    .about-more-company{
        float: left;
        width: 35%;
        height: 150px;
    }
    .about-more-company>p{
        width: 100%;
        color: #8602a1;
        font-weight: 500;
        font-size: 7px ;
        text-transform: uppercase;
    }
    .about-more-company ul{
        padding: 0px;
    }
    .about-more-company li{
        list-style-type: none;
        padding: 0px;
        margin: 0%;
    }
    .about-more-company a{
        color: black;
        font-size: 6px;
        text-decoration: none;
    }
    .about-more-company a:hover{
        text-decoration: underline;
    }
    .company-half{
        float: right;
        width: 50%;
        height: 150px;
        margin: 35px 5%;
    }
    .Country{
        display: inline-block;
        float: right;
        width: 30%;
        height: 150px;
        margin-right: 5%;
        margin-bottom: 5%;
        font-size: 7px;
    }
    .Country img{
        width: 10px;
        margin-top: 5px;
    }
    .Country>p{
        color: #8602a1;
        font-weight: bold;
    }
    .Country select{
        width:90% ;
        height:30px ;
        font-size: 8px;
        margin-top: 5px;
       border:  1px solid #fafafa;
    }
    .follow-fedex{
        width: 30%;
        height: 70px;
        margin-left: 13%;
    }
    .follow-fedex>p{
        display: inline-block;
        font-size: 8px;
        width: 30%;
        color: #4d148c;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 30px;
    }
    .follow-fedex-icon{
        float: right;
        width:60% ;
        height: 40px ;
        margin-top: 30px;
        margin-right: 15px;
    }
    .follow-fedex img{
        width: 10px;
        height: 10px;
        padding: 0px;
    }
    footer{
        display: inline-block;
        width: 100%;
        height: 40px;
        background-color: #4d148c;
    }
    .footer-para{
        float: left;
        width: 30%;
        height: 20px;
        margin-top: 15px ;
        margin-left: 15%;
    }
    .footer-para>p{ 
        color: white;
        margin-top: 0px;
        margin-left: 0px;
        font-size: 8px;
    }
    .footer-site{
        color: white;
        float: right;
        width: 40%;
        height:30px ;
        margin-top: 8px;
        margin-right: 1%;
    }
    .footer-site a{
        color: white;
        font-size: 8px;
        text-decoration:none ;
        padding: 4px;
    }
    .footer-site a:hover{
        text-decoration: underline;
    }
 }